@using SAutoDataScrap.Entities;
@using SAutoDataScrap.Constants;
@using SAutoDataScrap.Services;
@using BlazorTable
@page "/sauto"
@inject ICarService carService

<h3>ShowData</h3>

<button class="btn btn-primary" @onclick="ScrapNewCars">Scrap new data</button>
<button class="btn btn-primary" @onclick="GetData">Refresh data</button>
<button class="btn btn-primary" @onclick="DeleteDuplicities">Delete duplicities and refresh</button>

<Table TableItem="Car" Items="data" ColumnReorder="true" PageSize="50">
    <Column TableItem="Car" Title="Year" Field="@(x => x.Year)" Sortable="true" Filterable="true"></Column>
    <Column TableItem="Car" Title="Mileage" Field="@(x => x.Mileage)" Sortable="true" Filterable="true"></Column>
    <Column TableItem="Car" Title="Price" Field="@(x => x.Price)" Sortable="true" Filterable="true"></Column>
    <Column TableItem="Car" Title="Body" Field="@(x => x.Specification.SingleOrDefault(x=>x.Name.Equals(CarConstants.Body)).Value)" Sortable="true" Filterable="true"></Column>
    <Column TableItem="Car" Title="Color" Field="@(x => x.Specification.SingleOrDefault(x=>x.Name.Equals(CarConstants.Color)).Value)" Filterable="true"></Column>
    <Column TableItem="Car" Title="Scrap Date" Field="@(x => x.ScrapDate)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true"></Column>
    <Column TableItem="Car" Title="Link" Field="@(x => x.LinkToDetail)"></Column>

    <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
</Table>

@code {
    private IEnumerable<Car>? data = new List<Car>();

    protected override void OnInitialized()
    {
        data = carService.GetCars();
        base.OnInitialized();
    }

    public void GetData()
    {
        data = carService.GetCars();
    }

    public void DeleteDuplicities()
    {
        carService.DeleteDuplicities();
        data = carService.GetCars();
    }

    public void ScrapNewCars()
    {
        var scrappedProperly = carService.ScrapNewCars();
    }
}
